.header-logo img {
  width: 70px;
}
.nav-elements ul {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-elements li {
  list-style-type: none;
  flex-direction: row;
}
.nav-elements li a {
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}
.nav-elements li a:hover {
  background-color: aliceblue;
  padding: 23px;
  color: black;
}
.header-container {
  /* background-color: lightgray; */
}
