@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}

.logo {
  width: 60px;
}
li,
a,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}
.navbar-links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-links li a {
  transition: all 0.3s ease 0s;
}
.navbar-links li a:hover {
  color: rgba(255, 136, 0, 1);
}

button {
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 136, 0, 1);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(255, 136, 0, 0.8);
}
